*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
  }

h1 {
    margin: 20px;
    font-size: 36px;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(240, 240, 240);
}

main {
    flex: 1;
}

.calculator {
    background-color: rgb(170, 170, 170);
    width: 400px;
    border-radius: 12px;
    border: 2px solid black ;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.display {
    background-color: rgb(230, 230, 230);;
    margin: 20px;
    border-radius: 12px;
    border: 2px solid black ;
    text-align: right;
    padding: 20px;
    width: 90%;
}

.line-one {
    font-size: 24px;
    min-height: 36px;
}

.line-two {
    font-size: 42px;
    min-height: 63px;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    padding: 0px 20px;
    text-align: center;
}

.clear {
    background-color: rgb(235, 179, 189);
    width: 100%;
    padding: 15px;
    font-size: 20px;
    border-radius: 6px;
    border: 2px solid black ;
}

.clear:hover{
    background-color: rgb(225, 169, 179);
}

.delete {
    background-color: rgb(132, 132, 207);
    width: 100%;
    padding: 15px;
    font-size: 20px;
    border-radius: 6px;
    border: 2px solid black ;
}

.delete:hover{
    background-color: rgb(122, 122, 197);
}

.small-buttons-container {
    width: 100%;
}

.row {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    gap: 12px;
}

.button {
    background-color: rgb(230, 230, 230);
    padding: 14px;
    width: 100%;
    font-size: 18px;
    text-align: center;
    border-radius: 6px;
    border: 2px solid black ;
}

.button:hover{
    background-color: rgb(190, 190, 190);
}

button {
    cursor:pointer;
}

footer {
    text-align: center;
    margin-bottom: 12px;
    font-size: 24px;
}