*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
  }

h1 {
    margin: 20px;
    font-size: 48px;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(240, 240, 240);
}

main {
    flex: 1;
}

.calculator {
    background-color: rgb(170, 170, 170);
    width: 400px;
    border-radius: 12px;
    border: 2px solid black ;
    margin-top: 28px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.display {
    background-color: rgb(230, 230, 230);;
    margin: 20px;
    border-radius: 12px;
    border: 2px solid black ;
    text-align: right;
    padding: 20px;
    width: 90%;
}

.line-one {
    font-size: 24px;
    min-height: 36px;
}

.line-two {
    font-size: 42px;
    min-height: 63px;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    padding: 0px 20px;
    text-align: center;
}

.clear {
    background-color: rgb(235, 179, 189);
    width: 100%;
    padding: 15px;
    font-size: 20px;
    border-radius: 6px;
    border: 2px solid black ;
}

.clear:hover{
    background-color: rgb(225, 169, 179);
}

.delete {
    background-color: rgb(132, 132, 207);
    width: 100%;
    padding: 15px;
    font-size: 20px;
    border-radius: 6px;
    border: 2px solid black ;
}

.delete:hover{
    background-color: rgb(122, 122, 197);
}

.small-buttons-container {
    width: 100%;
}

.row {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    gap: 12px;
}

.button {
    background-color: rgb(230, 230, 230);
    padding: 14px;
    width: 100%;
    font-size: 18px;
    text-align: center;
    border-radius: 6px;
    border: 2px solid black ;
}

.button:hover{
    background-color: rgb(190, 190, 190);
}

button {
    cursor:pointer;
}

footer {
    text-align: center;
    margin-bottom: 12px;
    font-size: 24px;
}


@media screen and (max-width: 600px) and (orientation: portrait) {
    body {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    main {
        width: 90%;
        height: 100%;
        margin: 20px;
    }

    .calculator {
        width: 100%;
    }

    .display {
        margin: 10px;
        padding: 15px;
        width: 90%;
        font-size: 24px;
    }

    .line-one, .line-two {
        min-height: 50px;
    }

    .container, .small-buttons-container {
        flex-direction: row;
    }

    .row {
        margin: 10px 20px;
    }

    .button, .clear, .delete {
        font-size: 20px;
        padding: 15px;
        min-height: 50px;
    }

    footer {
        font-size: 18px;
    }
}

@media screen and (max-width: 900px) and (orientation: landscape) {

    body {
        flex-direction: column;
        align-items: center; 
        justify-content: center; 
        height: auto; 
    }

    main {
        width: 80%;
        max-width: 450px;
    }

    .calculator {
        flex-direction: column;
        width: 100%; 
        margin: 10px 0;
    }

    .display, .container, .small-buttons-container {
        width: 100%;
    }

    .button, .clear, .delete {
        font-size: 16px; 
        padding: 8px;
        min-height: 35px;
    }

    .display {
        margin: 12px;
        width: 90%;
    }

    .row {
        justify-content: space-around; 
    }

    .button {
        flex-grow: 1;
    }

    .equal {
        flex-grow: 2;
    }
}
